<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/style.css")
        title #{title}
    body

        if(isOpen)
        include banner.pug
        img(src="https://media.apnarm.net.au/media/images/2020/05/08/v3imagesbin796eecd1bb344fa9c3596d3a64917e84-i5vgqv7b72n8v3wpau2.jpg", alt="")